<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Eat-A-Burger!</title>
    <!--Bootstrap css link-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Bootswatch link-->
    <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">
    <!--JQuery link-->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!--External CSS-->
    <link rel="stylesheet" href="assets/css/style.css">
    <!--Font Awesome icons-->
    <script defer src="https://use.fontawesome.com/releases/v5.7.0/js/all.js"></script>
</head>

<body class="bg-dark">
    {{{ body }}}
</body>

</html>