<div class="mt-4">
    <h4 class="devoured-burger text-danger">{{burger_name}}<button class="delete btn btn-danger float-right"
            data-id="{{this.id}}"><i class="far fa-trash-alt"></i>Throw away</button></h4>
</div>