<div class="mt-4">
    <h4 class="text-success">{{this.burger_name}}<button class="devour btn btn-success text-white float-right"
            data-id="{{this.id}}" data-newdevour="{{this.devour}}">Devour <i class="fas fa-hamburger"></i></button></h4>
</div>