<div class="container">
    <!--Jumbotron-->
    <div class="jumbotron text-center bg-secondary text-danger">
        <h1 class="display-4 text-danger" id="app-title">Eat-A-<i class="fas fa-hamburger"></i>!</h1>
        <p class="lead">Welcome to Eat-A-<i class="fas fa-hamburger"></i>! Where you can eat A <i
                class="fas fa-hamburger"></i>!</p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card border border-secondary">
                <div class="card-header bg-secondary text-danger">
                    Which burger would you like to eat?
                </div>
                <div class="card-body text-danger">
                    <form class="add-burger">
                        <div class="form-group">
                            <label for="burger">Place order here:</label>
                            <input type="text" class="form-control" id="burger" placeholder="">
                        </div>
                        <button class="btn btn-success text-white" type="submit">Add <i
                                class="fas fa-hamburger"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6 mt-4">
            <div class="card border border-success">
                <div class="card-header bg-success text-white">
                    Burgers
                </div>
                <div class="card-body bg-secondary">
                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        {{> burgers/not-devoured devour=false}}
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-4">
            <div class="card devoured-card border-danger">
                <div class="card-header bg-danger text-white" id="devoured-card-header">
                    Devoured Burgers
                </div>
                <div class="card-body bg-secondary">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        {{> burgers/devoured devour=true}}
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card footer">
                <div class="card-body footer-body text-danger text-center bg-secondary">
                    <h5 class="card-title text-danger">Eat-A-<i class="fas fa-hamburger"></i>!</h5>
                    <p class="card-text">Welcome to Eat-A-<i class="fas fa-hamburger"></i>!</p>
                    <a href="https://github.com/ryanswilson1/burger" class="btn btn-secondary mr-2 text"
                        target="_blank"><i class="fab fa-github-square fa-2x" alt="Github Link"></i></a>
                    <a href="https://www.linkedin.com/in/ryan-wilson-63a649132/" class="btn btn-secondary"
                        target="_blank"><i class="fab fa-linkedin fa-2x" alt="Linkedin Link"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(".add-burger").on("submit", function (event) {
            event.preventDefault();
            var newBurger = {
                burger_name: $("#burger").val().trim(),
                devoured: 0
            };
            $.ajax("/api/burgers", {
                type: "POST",
                data: newBurger
            }).then(
                function () {
                    console.log("created new burger");
                    location.reload();
                }
            );
        });
        $(".delete").on("click", function (event) {
            const id = $(this).data("id");
            $.ajax("/api/burgers/" + id, {
                type: "DELETE",
            }).then(
                function () {
                    console.log("deleted burger", id);
                    location.reload();
                }
            );
        });
        $(".devour").on("click", function (event) {
            const id = $(this).data("id");
            const newDevour = $(this).data("newdevour");
            const newDevourState = {
                devoured: "true"
            };
            $.ajax("/api/burgers/" + id, {
                type: "PUT",
                data: newDevourState
            }).then(
                function () {
                    console.log("changed devour to", newDevour);
                    location.reload();
                }
            );
        });
    });
</script>